<nav class="container navbar navbar-expand-lg bg-faded navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <div class="logo"></div>
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse header-router" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PORDUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">COFFEE CULTURE</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">SERVICES</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">BUSINESS</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">EVENT</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>