<div class="row text-center text-lg-left">
    <div class="logo mx-auto mx-lg-0"></div>
    <div class="footer-desc">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </div>
    <div class="social-block mx-auto mx-lg-0">
        <a class="social-button fab fa-facebook" href="#"></a>
        <a class="social-button fab fa-instagram" href="#"></a>
        <a class="social-button fab fa-youtube" href="#"></a>
        <a class="social-button fab fa-facebook-messenger" href="#"></a>
    </div>
</div>