      <div class="row d-none d-lg-flex">
        <div class="col-lg-3">
          <div class="wrapper">
            <div class="title">ABOUT US</div>
            <ul>
              <li><a href="#">Missions</a></li>
              <li><a href="#">Clean Coffee</a></li>
              <li><a href="#">Core Value</a></li>
              <li><a href="#">Exportation</a></li>
              <li><a href="#">Wholesale</a></li>
              <li><a href="#">Career</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="wrapper">
            <div class="title">COMMUNITY</div>
            <ul>
              <li><a href="#">News & Update</a></li>
              <li><a href="#">Knowledge</a></li>
              <li><a href="#">Brew Guide</a></li>
              <li><a href="#">Recipes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="wrapper">
            <div class="title">SUPPORT</div>
            <ul>
              <li><a href="#">Customer Service</a></li>
              <li><a href="#">Shipping & Return</a></li>
              <li><a href="#">Payment Method</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="wrapper">
            <div class="title">CONTACT</div>
            <ul>
              <li><a href="#">No. 8, 8th Floor, Cantavil Premier, An Phu Ward, District 2, HCMC</a></li>
              <li><a href="#">Phone: 028-3740 6789</a></li>
              <li><a href="#">Fax: 028-3740 6789</a></li>
              <li><a href="#">Email: info@thehillcoffee.com.vn</a></li>
            </ul>
          </div>
          <a class="tem" href="#"><img src="../../../../assets/images/tem.png" width="100%"></a>
        </div>
      </div>
<div class="row d-flex d-lg-none">
  <div class="col-12">
    <div class="dropdown border-top">
      <button class="btn btn-primary-outline dropdown-toggle w-100 text-left" data-toggle="collapse" data-target="#collapseAboutUs" aria-expanded="false" aria-controls="collapseAboutUs">
        ABOUT US
      </button>
      <div class="collapse" id="collapseAboutUs">
          <a class="dropdown-item" href="#">Missions</a>
          <a class="dropdown-item" href="#">Clean Coffee</a>
          <a class="dropdown-item" href="#">Core Value</a>
          <a class="dropdown-item" href="#">Exportation</a>
          <a class="dropdown-item" href="#">Wholesale</a>
          <a class="dropdown-item" href="#">Career</a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="dropdown border-top">
      <button class="btn btn-primary-outline dropdown-toggle w-100 text-left" data-toggle="collapse" data-target="#dropdownCommunity" aria-expanded="false" aria-controls="dropdownCommunity">
        COMMUNITY
      </button>
      <div class="collapse" id="dropdownCommunity">
        <a class="dropdown-item" href="#">News & Update</a>
        <a class="dropdown-item" href="#">Knowledge</a>
        <a class="dropdown-item" href="#">Brew Guide</a>
        <a class="dropdown-item" href="#">Recipes</a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="dropdown border-top">
      <button class="btn btn-primary-outline dropdown-toggle w-100 text-left" data-toggle="collapse" data-target="#dropdownSupport" aria-expanded="false" aria-controls="dropdownSupport">
        SUPPORT
      </button>
      <div class="collapse" id="dropdownSupport">
        <a class="dropdown-item" href="#">Customer Service</a>
        <a class="dropdown-item" href="#">Shipping & Return</a>
        <a class="dropdown-item" href="#">Payment Method</a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="dropdown border-top border-bottom">
      <button class="btn btn-primary-outline dropdown-toggle w-100 text-left" data-toggle="collapse" data-target="#dropdownSupport" aria-expanded="false" aria-controls="dropdownSupport">
        CONTACT
      </button>
      <div class="collapse" id="dropdownContact">
        <a class="dropdown-item" href="#">No. 8, 8th Floor, Cantavil Premier, An Phu Ward, District 2, HCMC</a>
        <a class="dropdown-item" href="#">Phone: 028-3740 6789</a>
        <a class="dropdown-item" href="#">Fax: 028-3740 6789</a>
        <a class="dropdown-item" href="#">Email: info@thehillcoffee.com.vn</a>
      </div>
    </div>
  </div>
  <a class="tem" href="#"><img class="mx-auto" src="../../../../assets/images/tem.png" width="30%"></a>
</div>