    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-block w-100">
            <div class="row">
              <div class="carousel-title col-12 text-center">
                  <img src="../../../../assets/images/h3.png" />                
                  <h1>Our Customer Say</h1>
              </div>            
            </div>
            <div class="row">
              <div class="col-12 col-lg-5 text-center">
                <img class="w-100" src="../../../../assets/images/h4.png" />
                <!-- <img class="w-100 d-inline-block d-lg-none author-img-mobile" src="../../../../assets/images/h4.png" /> -->
              </div>
              <div class="col-12 offset-0 col-lg-6 mt-auto mb-5">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                <img src="../../../../assets/images/h7.png" />                
                <p class="author">Debbon Amet</p>
                <p>Company Name/Position</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <div class="row">
              <div class="carousel-title col-12 text-center">
                  <img src="../../../../assets/images/h3.png" />                
                  <h1>Our Customer Say</h1>
              </div>            
            </div>                  
            <div class="row">
              <div class="col-12 col-lg-5 text-center">
                <img class="w-100" src="../../../../assets/images/h5.png" />
                <!-- <img class="w-100 d-inline-block d-lg-none author-img-mobile" src="../../../../assets/images/h5.png" /> -->
              </div>
              <div class="col-12 offset-0 col-lg-6 mt-auto mb-5">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                <img src="../../../../assets/images/h7.png" />                
                <p class="author">Debbon Amet</p>
                <p>Company Name/Position</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block w-100">
            <div class="row">
              <div class="carousel-title col-12 text-center">
                  <img src="../../../../assets/images/h3.png" />                
                  <h1>Our Customer Say</h1>
              </div>            
            </div>           
            <div class="row">
              <div class="col-12 col-lg-5 text-center">
                <img class="w-100" src="../../../../assets/images/h6.png" />
                <!-- <img class="w-100 d-inline-block d-lg-none author-img-mobile" src="../../../../assets/images/h6.png" /> -->
              </div>
              <div class="col-12 offset-0 col-lg-6 mt-auto mb-5">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                <img src="../../../../assets/images/h7.png" />                
                <p class="author">Debbon Amet</p>
                <p>Company Name/Position</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>